/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*variables start*/
/*variables end*/
body {
  overflow-x: hidden;
}
body header {
  width: 100%;
  height: 50px;
  position: fixed;
  background: #fff;
  text-align: right;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}
body header .top-menu-wrapper {
  display: inline-block;
}
body header .top-menu-wrapper .top-menu li {
  display: inline-block;
  padding: 0 10px;
}
body header .top-contacts-wrapper {
  display: inline-block;
  margin-right: 40px;
}
body header .top-contacts-wrapper .top-contacts li {
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
}
body header .top-contacts-wrapper .top-contacts li .top-icon-wrapper img {
  max-height: 35px;
}
body .banner-wrapper {
  width: 100%;
  position: relative;
  padding-top: 51px;
}
body .banner-wrapper .logo-wrapper {
  width: 175px;
  height: 175px;
  position: absolute;
  left: 40px;
  top: 0;
  z-index: 3;
  border: 1px solid #ccc;
  background: #fff;
}
body .banner-wrapper .logo-wrapper img {
  display: block;
  width: 100%;
}
body .banner-wrapper .banner {
  width: 100%;
}
